<h1 mat-dialog-title>Modifier le nom de la {{data.type}} ?</h1>
<div class="dialog-content" mat-dialog-content>
  <mat-form-field class="field-container" appearance="fill">
    <mat-label>Nom de la {{data.type}}</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field class="field-container" appearance="fill" *ngIf="data.type == 'tâche'">
    <mat-label>Description de la {{data.type}}</mat-label>
    <textarea matInput [(ngModel)]="data.desc">{{data.desc}}</textarea>
  </mat-form-field>

  <mat-form-field class="field-container" appearance="fill" *ngIf="data.type == 'tâche'">
    <mat-label>Couleur </mat-label>
    <mat-select [(ngModel)]="data.class">
      <mat-option *ngFor="let classe of classes" [value]="classe.value">
        {{classe.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
