<div class="content">
  <h1>Kanban</h1>
  <div class="colform">
    <div class="input-container">
      <label for="columnInput">Nom de la colonne : </label>
      <input id="columnInput" [(ngModel)]="column.name" (keydown.enter)="addColumn()" type="text" value="Entrer une valeur"/>
      <button type="button" (click)="addColumn()">Ajouter</button>
    </div>
  </div>


  <div cdkDropListGroup class="column-container">
    <app-column *ngFor="let col of columns" [column]=col></app-column>
  </div>
</div>

<router-outlet></router-outlet>
