
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kanban-primary: mat.define-palette(mat.$indigo-palette);
$kanban-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kanban-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kanban-theme: mat.define-light-theme((
  color: (
    primary: $kanban-primary,
    accent: $kanban-accent,
    warn: $kanban-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kanban-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
  margin: 0;
  background: white;
}
input {
  font-size: 1.5rem;
  font-family: 'font1';
  margin-right: 1rem;
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
  border: none;
  border: 2px solid darken(#70a1ff, 50);
  &:focus{
    border: none;
  }
  &:active{
    border: none;
  }
}
button {
  font-size: 1.5rem;
  font-family: font1;
  border-radius: 0.4rem;
  border: none;
  padding: 0.2rem 1.8rem;
  cursor: pointer;
  background: #70a1ff;
  &:hover{
    outline: 2px solid darken(#70a1ff, 50);
  }
}
.d-flex{
  display: flex;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #70a1ff;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.4rem;
}

*::-webkit-scrollbar-track {

}

*::-webkit-scrollbar-thumb {
  background: #70a1ff;
  border-radius: 1rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-drop-list-dragging{
  animation: none !important;
}
.cdk-drag-placeholder{
  opacity: 0;
}
